<body>

    <header><h1 class="d-center">Doku</h1></header>   

    
    <nav> 
    <section>
        <h4 >Quicklinks</h4>
        <div id ="category"></div>
        <div id ="quicklinks"></div>
    </section> 
    </nav>


    <aside>
        <div class="calendar">Kalendar</div>

        <div class="add-todo">
        <input type="text" name="" id="input-todo">
            <button onclick="addToDo()"></button>
        </div>

        <ul id="todo-list"></ul>

        
<!--     <button value="assets/css.html" onclick="newTab(this)">CSS Shortcuts</button>
    <button value="assets/js.html" onclick="newTab(this)">Javascript Shortcuts</button> -->

    </aside>

<footer>Footer Keine Ahnung</footer>
</body>
